body{
  background-image: linear-gradient(to bottom left, cyan, green);
}

h1{
  color: #f3f3f3;
  font-size: 75px;
  font-family: 'Bungee Hairline', cursive;
  font-weight: bold;
  text-align: center;
}

h3{
  color: #f3f3f3;
  font-size: 40px;
  font-family: 'Bungee Hairline', cursive;
  font-weight: bold;
  text-align: right;
}

th{
  color: #f2f2f2;
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  border: 3px dotted;
  border-color: #80e5ff;
}

td{
  color: #f1f1f1;
  font-family: 'Josefin Slab', serif;
  font-size: 25px;
  border: 2.5px dotted;
  border-color: #80e5ff;
}

img{
  width: 200px;
  height: 200px;
  border: 2px dotted;
  border-color: #99ebff;
}

table{
  border: 4px dotted;
  border-color: #66e0ff;
}

