body{
  background-image: linear-gradient(to bottom left, cyan, green);
}

h1{

}

h2{

}

h3{

}

th{
  color: white;
  font-size: 60px;
  border: 2px solid;
  border-color: #80e5ff;
}

td{
  color: white;
  font-size: 40px;
  border: 2px dotted;
  border-color: #80e5ff;
}

img{
  width: 200px;
  height: 200px;
}

table{

}

