body{
  background-image: linear-gradient(to bottom left, cyan, green);
}

h1{
  color: #f3f3f3;
  font-size: 75px;
  font-family: 'Bungee Hairline', cursive;
  font-weight: bold;
  text-align: center;
}

h3{
  color: #f3f3f3;
  font-size: 40px;
  font-family: 'Bungee Hairline', cursive;
  font-weight: bold;
  text-align: right;
}

th{
  color: #f2f2f2;
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  border: 3px dotted;
  border-color: #80e5ff;
  text-align: center;
  line-height: 1.5;
}

td{
  color: #f1f1f1;
  font-family: 'Josefin Slab', serif;
  font-size: 25px;
  border: 2.5px dotted;
  border-color: #80e5ff;
  text-align: center;
  line-height: 1.5;
}

img{
  width: 200px;
  height: 200px;
  border: 2px dotted;
  border-color: #99ebff;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: -10px;
  margin-right: 5px;
  margin-left: 5px;
}

table{
  border: 4px dotted;
  border-color: #66e0ff;
  align: center;
}

#wrapper{
  width: 960px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

