body{
  background-image: linear-gradient(to bottom left, cyan, green);
}

h1{

}

h2{

}

h3{

}

th{

}

td{
  color: white;
  font-size: 40px;
  border: 2px dotted;
  border-color: magenta;

}

img{
  width: 300px;
  height: 300px;
}

table{

}

